<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaOnlineExamination</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Encode_Filter</display-name>
    <filter-name>Encode_Filter</filter-name>
    <filter-class>filter.Encode_Filter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encode_Filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exit_Servlet</display-name>
    <servlet-name>Exit_Servlet</servlet-name>
    <servlet-class>servlet.Exit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exit_Servlet</servlet-name>
    <url-pattern>/Exit_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Subject_Servlet</display-name>
    <servlet-name>Add_Subject_Servlet</servlet-name>
    <servlet-class>servlet.Add_Subject_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Subject_Servlet</servlet-name>
    <url-pattern>/Add_Subject_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerySub_servlet</display-name>
    <servlet-name>QuerySub_servlet</servlet-name>
    <servlet-class>servlet.QuerySub_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySub_servlet</servlet-name>
    <url-pattern>/QuerySub_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Subject_Servlet</display-name>
    <servlet-name>Update_Subject_Servlet</servlet-name>
    <servlet-class>servlet.Update_Subject_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Subject_Servlet</servlet-name>
    <url-pattern>/Update_Subject_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_subject_servlet</display-name>
    <servlet-name>Delete_subject_servlet</servlet-name>
    <servlet-class>servlet.Delete_subject_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_subject_servlet</servlet-name>
    <url-pattern>/Delete_subject_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_examgroup_servlet</display-name>
    <servlet-name>Add_examgroup_servlet</servlet-name>
    <servlet-class>servlet.Add_examgroup_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_examgroup_servlet</servlet-name>
    <url-pattern>/Add_examgroup_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_User_Servlet</display-name>
    <servlet-name>Add_User_Servlet</servlet-name>
    <servlet-class>servlet.Add_User_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_User_Servlet</servlet-name>
    <url-pattern>/Add_User_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUser_Servlet</display-name>
    <servlet-name>QueryUser_Servlet</servlet-name>
    <servlet-class>servlet.QueryUser_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUser_Servlet</servlet-name>
    <url-pattern>/QueryUser_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_TeacherObject_Servlet</display-name>
    <servlet-name>Add_TeacherObject_Servlet</servlet-name>
    <servlet-class>servlet.Add_TeacherObject_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_TeacherObject_Servlet</servlet-name>
    <url-pattern>/Add_TeacherObject_Servlet</url-pattern>
  </servlet-mapping>
</web-app>